/* sub 공통 스타일 */
#sub-title #sub-header h2 {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}

#main h3 {
  font-size: 34px;
}

#main .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* sub1-1 기업소개 */
#sub1-1 #sub-title {
  width: 100%;
  position: relative;
  height: 388px;
}

#sub1-1 #sub-header {
  width: 1920px;
  height: 388px;
  background: #abc;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* outline: 1px solid blue; */
  background-image: url(../images/기업소개.jpg);
}

#sub1-1 #sub-header .container {
  /* outline: 1px solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lnb {
  border-bottom: 1px solid var(--main-color);
}

#lnb ul {
  display: flex;
  justify-content: center;
}

#lnb ul a {
  font-size: 18px;
  padding: 16px 60px;
  display: block;
}

/* 현재 페이지 메뉴 스타일 */
#lnb ul > li.active > a {
  border-bottom: 4px solid var(--main-color);
  color: var(--main-color);
}

#sub1-1 #main article{
  display: flex;
  flex-wrap: wrap;
}

#sub1-1 #main article img {
  width: 50%;
  height: 420px;
}

#sub1-1 #main article .article-group:first-of-type {
  width: 50%;
  /* outline: 1px solid red; */
  padding-left: 60px;
}

#sub1-1 #main article p em {
  color: var(--main-color);
  font-style: normal;
  font-weight: 500;
}

#sub1-1 #main article .article-group:last-child {
  margin-top: 50px;
}